profiles {
  NCI {
    process {
      // Set Executor
      executor = 'pbspro'
      project = 'te53'
      storage = 'gdata/xl04+gdata/te53+gdata/if89'
      queue = 'normal'
      beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && set -ex'
      
      withName: map {
        cpus = '48'
        memory = '192GB'
        time = '3.h'
        module = 'singularity:quay.io/biocontainers/wfmash/0.23.0--h9f6f473_0:samtools/1.21'
      }

       withName: unmapped_remap {
        cpus = '48'
        memory = '192GB'
        time = '3.h'
        module = 'singularity:quay.io/biocontainers/wfmash/0.23.0--h9f6f473_0:samtools/1.21'
      }

       withName: combinepaf {
        time = '1.h'
        cpus = '4'
        memory = '16GB'
        module = 'pythonlib/3.9.2'
      }
      

       withName: community_detection {
        time = '1.h'
        cpus = '4'
        memory = '16GB'
      }

      withName: processcontigs {
        time = '2.h'
        cpus = '48'
        memory = '192GB'
        disk = '400GB'
        module = 'pythonlib/3.9.2:samtools/1.21:parallel/20191022:htslib/1.20'

      }

      withName: pggb {
        time = '48.h'
        queue = 'hugemem'
        cpus = '48'
        memory = '1470GB'
        disk = '1400GB'
        module = 'singularity:pangenome/pggb/0.7.4'
      }

      }


      }

 

    }



  
