profiles {
  NCI {
    process {
      // Set Executor
      executor = 'pbspro'
      project = 'te53'
      storage = 'gdata/xl04+gdata/te53+gdata/if89'
      queue = 'normal'
      
      withName: map {
        time = '3.h'
        clusterOptions = '-l ncpus=48,mem=192GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

       withName: unmapped_remap {
        time = '3.h'
        clusterOptions = '-l ncpus=48,mem=192GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }


       withName: combinepaf {
        time = '1.h'
        clusterOptions = '-l ncpus=4,mem=16GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }
      

       withName: community_detection {
        time = '1.h'
        clusterOptions = '-l ncpus=4,mem=16GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: processcontigs {
        time = '1.h'
        clusterOptions = '-l ncpus=48,mem=192GB,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: pggb {
        time = '48.h'
        queue = 'normalsr'
        clusterOptions = '-l ncpus=104,mem=512GB,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      }


      }

 

    }



  
